<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
                <a routerLink="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
            </li>
            <li>
                <a routerLink="/about" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
                <a routerLink="/projects" class="mr-4 hover:underline md:mr-6">Projects</a>
            </li>
            <li>
                <a routerLink="/bloglist" class="mr-4 hover:underline md:mr-6">Blog</a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2021-2024.
            {{this.appConfig.config?.author}} All Rights
            Reserved. </span>
    </div>
</footer>