<div *ngIf="section=='blogs'" class="flex items-center mb-6 not-italic">
    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
        <img class="mr-4 w-16 h-16 rounded-full" src="/assets/images/photo.jpg" alt="Nazar Mammedov">
        <div>
            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Nazar Mammedov</a>
            <p class="text-base text-gray-500 dark:text-gray-400">Software Engineer</p>
        </div>
    </div>

</div>
<div *ngIf="section=='blogs'" class="items-center mb-6 not-italic">
    <h1
        class="py-1 text-4xl md:text-5xl lg:text-5xl  dark:text-white font-bold leading-none tracking-tight text-gray-700">
        <a name="using-coursera-for-learning-software-development" class="anchor"
            href="#using-coursera-for-learning-software-development"><span
                class="header-link"></span></a>{{blog?.title}}
    </h1>
    <div class="flex mt-2 gap-2 text-base text-gray-500 dark:text-gray-400">
        <div>
            created: <app-time [data]="blog?.created" class="ml-2" />
        </div>
        <div>
            updated: <app-time [data]="blog?.updated" class="ml-2" />
        </div>
    </div>
</div>
<markdown ngPreserveWhitespaces [disableSanitizer]="true" src={{page_path}}>
</markdown>