<div class="flex flex-wrap gap-2">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a [routerLink]="['/bloglist']">
            <img class="rounded-t-lg" src="/assets/images/desktop.jpg" alt="" />
        </a>
        <div class="p-5">
            <a [routerLink]="['/bloglist']">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Learning blog</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">In my blog I share what I learned in my own learning journey in software development.</p>
        </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a [routerLink]="['/projects']">
            <img class="rounded-t-lg" src="/assets/images/coding.jpg" alt="" />
        </a>
        <div class="p-5">
            <a [routerLink]="['/projects']">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Work samples</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here you can see my projects, work samples to get familiar with my work.</p>
        </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a [routerLink]="['/bloglist']">
            <img class="rounded-t-lg" src="/assets/images/frontier.jpg" alt="" />
        </a>
        <div class="p-5">
            <a [routerLink]="['/bloglist']">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Updates from the industry</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The latest updates from the industry on the Internet technologies.</p>
        </div>
    </div>
</div>